
    <div class="sidebar-header">
        <h3>Dashboard</h3>
    </div>

    <ul class="list-unstyled components">
        {% for config in configs|sort((a, b) => a.sidebarPriority <=> b.sidebarPriority) %}
            <li>
                <a href="#{{ config.sidebarTitle }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ config.sidebarTitle }}</a>
                <ul class="collapse list-unstyled" id={{ config.sidebarTitle }}>
                    {% if config.routes is defined %}
                        {% for route in config.routes %}
                            <li>
                                <a href="{{ path(route.link) }}">{{ route.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
{#        <li class="active">#}
{#            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ configs.LocationBundle.sidebarTitle }}</a>#}
{#            <ul class="collapse list-unstyled" id="homeSubmenu">#}
{#                <li>#}
{#                    <a href="{{ path(configs.LocationBundle.routes.list) }}">City</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Country</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Zone</a>#}
{#                </li>#}
{#            </ul>#}
{#        </li>#}
{#        <li>#}
{#            <a href="#">About</a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>#}
{#            <ul class="collapse list-unstyled" id="pageSubmenu">#}
{#                <li>#}
{#                    <a href="#">Page 1</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Page 2</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Page 3</a>#}
{#                </li>#}
{#            </ul>#}
{#        </li>#}
    </ul>

